<!-- This will render post into the index/explore and user section-->



<table class="table table-hover">
        <tr>
            <td width="70px">
            <!-- Clickable user link -->
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {% set user_link %}
                    <a href="{{ url_for('user', username=post.author.username) }}">
                    <!--Places content on the post-->
                        {{ post.author.username }}
                    </a>
                {% endset %}
                {{ _('%(username)s said %(when)s',
                    username=user_link, when=moment(post.timestamp).fromNow()) }} <!-- Displays when it was posted-->
                <br>
                <span id="post{{ post.id }}">{{ post.body }}</span>
                {% if post.language and post.language != g.locale %}
                <br><br>
                <span id="translation{{ post.id }}">
                    <a href="javascript:translate(
                                '#post{{ post.id }}',
                                '#translation{{ post.id }}',
                                '{{ post.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a> <!-- Translate feature will be added in future work-->

                </span>
                {% endif %}
            </td>
        </tr>
    </table>
    {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for('user', username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                {% endset %}