{% extends 'bootstrap/base.html' %}


{% block title %}
    {% if title %}{{ title }} - Howler{% else %}{{ _('Welcome to Howler') }}{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">{{_(Howler)}}</a>  <!-- Redirects user back to home page if required-->
                
                
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a  href="{{ url_for('get_news')}}"> {{ _('SciNews') }} </a></li>
                     <li><a  href="{{ url_for('opportunity')}}"> {{_('Opportunities')}}</a></li>
                    <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
                    <li><a href="{{ url_for('explore') }}">{{ _('Explore') }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('messages') }}">  <!-- Takes user to Messages.html to read messages-->
                            {{ _('Messages') }}
                             {% set new_messages = current_user.new_messages() %}  <!-- The new messages unread will only be placed by checking the id of the user-->
                            {% if new_messages %}
                            <span class="badge">{{ new_messages }}</span>
                            {% endif %}
                        </a></li>
                    <li><a href="{{ url_for('user', username=current_user.username) }}">{{ _('Profile') }}</a></li>  <!--Profile page-->
                    <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>  <!-- log out function will take user back to login-->
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %} 
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}  <!-- Counts how many messages there are within the database-->
            <div class="alert alert-info" role="alert">{{ message }}</div>  <!-- displays it-->
            {% endfor %}
        {% endif %}
        {% endwith %}

        
        {% block app_content %}
        <!-- Where all body content should be -->
        {% endblock %}
    </div>
    
<div class="footer-basic">
        <footer>
            <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{{url_for('index')}}">{{_('Home')}}</a></li>
                <li class="list-inline-item"><a href="{{url_for('FAQ')}}">{{_('FAQ')}}</a></li>
                <li class="list-inline-item"><a href="{{url_for('about')}}">{{_('About Us')}}</a></li>
                <li class="list-inline-item"><a href="#">{{_('Terms')}}</a></li>
                <li class="list-inline-item"><a href="#">{{_('Privacy Policy')}}</a></li>
            </ul>
            <p class="copyright">Howler © 2021</p>
        </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    

{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
    
         function translate(sourceElem, destElem, sourceLang, destLang) {
            $(destElem).html('<img src="{{ url_for('static', filename='loading.gif') }}">');
            $.post('/translate', {
                text: $(sourceElem).text(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).text(response['text'])
            }).fail(function() {
                $(destElem).text("{{ _('Error: Could not contact server.') }}");
            });
        }
        $(function () {
            var timer = null;
            var xhr = null;
            $('.user_popup').hover(
                function(event) {
                    // mouse in event handler
                    var elem = $(event.currentTarget);
                    timer = setTimeout(function() {
                        timer = null;
                        xhr = $.ajax(
                            '/user/' + elem.first().text().trim() + '/popup').done(
                                function(data) {
                                    xhr = null;
                                    elem.popover({
                                        trigger: 'manual',
                                        html: true,
                                        animation: false,
                                        container: elem,
                                        content: data
                                    }).popover('show');
                                    flask_moment_render_all();
                                }
                            );
                    }, 1000);
                },
                function(event) {
                    // mouse out event handler
                    var elem = $(event.currentTarget);
                    if (timer) {
                        clearTimeout(timer);
                        timer = null;
                    }
                    else if (xhr) {
                        xhr.abort();
                        xhr = null;
                    }
                    else {
                        elem.popover('destroy');
                    }
                }
            );
        });



        {% if current_user.is_authenticated %}
        $(function() {
            var since = 0;
            setInterval(function() {
                $.ajax('{{ url_for('notifications') }}?since=' + since).done(
                    function(notifications) {
                        for (var i = 0; i < notifications.length; i++) {
                            if (notifications[i].name == 'unread_message_count')
                                set_message_count(notifications[i].data);
                            since = notifications[i].timestamp;
                        }
                    }
                );
            }, 10000);
        });
        {% endif %}
    </script>
{% endblock %}
{% block styles %}
{{super()}}
  <link rel="stylesheet" href="{{url_for('.static', filename='main.css')}}">
{% endblock %}



