{% extends "layout.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %} <!-- To prevent the index.html template from crashing when it tries to render a web form that does not exist, I'm going to add a conditional that only renders the form if it is defined-->
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>  <!-- Letting users add their content-->
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
      {% endif %}
    {% for post in posts %}
    
     {% include '__post.html' %} <!--This will include __post.html post-->
    
    
    {% endfor %}

    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
    {%endblock%}