{% extends "base.html" %}


{% block app_content %}
    
<div class="jumbotron">
  <h1>Discover What Data is out there</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<div class="page-header">
  <h1>Trends of Science <small>Subtext for header</small></h1>
</div>
<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>  <!-- Place holder for breaking scientific news-->
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<section>
<br>
<br>
 <div class="container">
 <div class = "row">


        <b>{{title}}</b><br />
        <i>{{published}}</i><br />
        <p>{{summary}}</p>


 
 </div>
 </div>
</section>

     

{% endblock %}










