
{% extends "base.html" %}
{% block app_content %}
    {% import 'bootstrap/wtf.html' as wtf %}


     <h1 >{{ _('Look for amazing scientific Opportunities') }}</h1>
     <br>
     </br>

     <a class="btn btn-primary" href="{{url_for('new_jobs')}}"> {{('Create an Opportunity')}} </a>

     <br>
     <br>

     {% for post in posts %}
        <article class="media content-section">
          
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <!-- Loops through all jobpost with the content, title and user name-->
            </div>
            <h2><a class="article-title" href="{{url_for('job', job_id =post.id)}}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
          <hr/>
        </article>
 {% endfor %}

<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                <!-- Pagination pages learned from Miguel Grinberg-->
                    <span aria-hidden="true">&larr;</span> {{ _('Newer jobs') }} 
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older jobs') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}